@import "tailwindcss";

:root {
  --background: #f8f9ff;
  --foreground: #0f172a;
}

@theme inline {
  /* Font */
  --font-sans: var(--font-plus-jakarta);
  --font-mono: var(--font-geist-mono);

  /* Colors */
  --color-background: #f8f9ff;
  --color-foreground: #0f172a;

  --color-primary: #0d9488;
  --color-primary-hover: #0f766e;
  --color-primary-light: #f0fdfa;

  --color-surface: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
}